/** SECTION EDIT                   */
/** ****************************** */
/** ****************************** */
.sectionEditContainer {
  .sectionEditHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4b90e;
    color: white;

    .comeBackButton {
      display: flex;
      align-items: center;
      height: 2.5rem;
      background-color: black;
      border: 1px solid white;

      >svg {
        margin: 0 1rem;
      }

      :hover {
        cursor: pointer;
        color: rgb(201, 201, 201);
      }
    }

    .sectionName {
      display: flex;
      align-items: center;
      height: 2.5rem;
      background-color: black;
      border: 1px solid white;

      >h2 {
        margin: 0 5rem;
      }
    }

    .defaultFormButton {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      border-radius: 0;
      border: 1px solid white;
    }
  }

  .sectionEditZone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    >div {
      border: 1px solid rgb(201, 201, 201);
      border-radius: 1rem;
      padding: 0 0.5rem;
    }

    .sectionEditMainParametrs {
      .editMainParametersHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(201, 201, 201);

        >h3 {
          margin: 0.6rem 1.5rem;
        }
      }

      .defaultForm {
        display: flex;
        flex-direction: row !important;
        align-items: flex-end;
        margin-bottom: 1rem;

        .defaultFormGroup {
          flex-grow: 1;

          .defaultFormInput {
            margin-right: 1rem;
          }

          /* .defaultFormButton {
          } */
        }
      }
    }
  }
}

/** @media (max-width: 800px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 800px) {

  /** SECTION EDIT                   */
  /** ****************************** */
  /** ****************************** */
  .sectionEditContainer {
    .sectionEditHeader {

      /* .comeBackButton {
        >svg {}
        :hover {}
      } */
      .sectionName {

        >h2 {
          margin: 0 1rem;
        }
      }

      /* .defaultFormButton {} */
    }

    .sectionEditZone {
      flex-direction: column;

      .sectionEditMainParametrs {
        .defaultForm {
          display: flex;
          flex-direction: column !important;
          align-items: flex-start;

          .defaultFormGroup {
            width: 100%;

            .defaultFormInput {
              margin-right: 0;
            }

            .defaultFormButton {
              max-width: 100%;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}