/** MENU SECTIONS                  */
/** ****************************** */
/** ****************************** */
.menuSectionsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .createForm {
    background-color: #e4b90e;
    border-radius: 1rem;

    .createSectionFormTitle {
      background-color: black;
      color: white;
      padding: 0.3rem 1rem;
      border-radius: 1rem 1rem 0 0;

      >h3 {
        margin: 0;
      }
    }

    .defaultForm {
      display: flex;
      align-items: flex-end;

      .defaultFormGroup {
        margin: 1rem;
        flex-grow: 1;
      }

      .createSectionButton {
        max-width: 10%;
      }
    }
  }

  .menuSectionsList {
    display: flex;
    flex-direction: column;

    >h2 {
      margin: 2rem 0 1rem 1.5rem;
    }

    .sectionListItem {
      display: flex;
      gap: 0.5rem;

      .sectionsListButton {
        text-align: left;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;

        >div {
          >svg {
            margin-right: 10px;
          }
        }
      }

      .deleteListButton {
        display: flex;
        align-items: center;
        height: 3rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
      }
    }
  }
}

/** @media (max-width: 800px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 800px) {

  /** MENU SECTIONS                  */
  /** ****************************** */
  /** ****************************** */
  .menuSectionsContainer {
    .createForm {
      .defaultForm {
        padding: 0.5rem 1rem;
        flex-direction: column;
        align-items: center;

        .defaultFormGroup {
          width: 100%;
          margin: 0.5rem;
        }

        .createSectionButton {
          align-self: flex-start;
          min-width: 100%;
          margin-left: 0;
        }
      }
    }

    .menuSectionsList {
      >h2 {
        margin-bottom: 0.5rem;
      }
    }
  }
}

/** @media (max-width: 600px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {}