@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/** BASIC TAGS                     */
/** ****************************** */
/** ****************************** */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: Roboto, arial, sans-serif;
  font-size: 1.1rem;
}

a {
  color: rgb(var(--colour-text-and-icon-1, 17, 17, 17));
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 1.25rem 0;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem auto;
  max-width: 1400px;
}

/** HELP DEFAULT CLASSES           */
/** ****************************** */
/** ****************************** */
.pickedLink {
  text-decoration: underline;
}

.pickedButton {
  background-color: rgb(35, 35, 35) !important;
}

.displayNone {
  display: none;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_end {
  justify-content: flex-end;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  align-items: center;
}

/** DEFAULT FORM                   */
/** ****************************** */
/** ****************************** */
.defaultForm {
  width: 100%;

  >h5 {
    margin: 0.7rem 1.5rem 1.5rem 1.5rem;
    color: rgba(0, 125, 193, 0.782);
  }

  >h5>span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 125, 193);
  }

  .defaultFormTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
      margin-left: 1.5rem;
      text-decoration: underline;
    }

    >svg:hover {
      cursor: pointer;
      color: rgb(201, 201, 201);
    }
  }

  .defaultFormGroup {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;

    /* Label */
    >label {
      margin: 0 0 0.5rem 1.5rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

/* Input */
.defaultFormInput {
  margin-left: 0;
  height: 2.5rem;
  padding: 0.1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 64px;
}

/* Select */
.defaultFormSelect {
  height: 2.5rem;
  padding: 0;
  padding-inline-start: 1.3rem;
  padding-inline-end: 1.5rem;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 64px;
}

/* FileUpload */
input[type="file"]::-webkit-file-upload-button {
  /* margin-left: 1.5rem; */
  height: 2.3rem;
  padding: 0.1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 64px;
  margin-right: 0.5rem;
}


input[type="file"]::-webkit-file-upload-button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}


/* TextArea */
.defaultFormTextArea {
  padding: 0.3rem 0.1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 1rem;
  min-width: 100%;
  max-width: 100%;
}

/* Button */
.defaultFormButton {
  height: 2.5rem;
  padding: 0.1rem;
  font-size: 1rem;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 64px;
  background-color: hsl(0, 0%, 0%);
  font-weight: 600;
  color: white;
}

.defaultFormButton:active {
  border: 1px solid white;
}

.defaultFormButton:hover {
  cursor: pointer;
  background-color: rgb(35, 35, 35);
  text-decoration: underline;
}

.defaultFormToggle {
  margin-right: 0.5rem;

  .toggle {
    cursor: pointer;
    display: inline-block;
  }

  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }

  .toggle-switch:before,
  .toggle-switch:after {
    content: "";
  }

  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }

  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }

  .toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
  }

  .toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
  }

  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .toggle-label {
    margin-left: 5px;
    position: relative;
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
  }
}

/** DEFAULT LIST                   */
/** ****************************** */
/** ****************************** */
.defaultList {
  >li {
    margin: 0 0 2.5rem 1.5rem;
  }

  >li span:hover {
    text-decoration: underline;
  }
}

/** HEADER                         */
/** ****************************** */
/** ****************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left_part {
    flex-grow: 1;

    .logo {
      margin-right: 15px;

      >a {
        .header_logo {
          padding-top: 5px;
          width: 70px;
        }
      }
    }

    .search_bar {
      margin-right: 15px;
      flex-grow: 1;
      max-width: 350px;

      >form {
        width: 100%;
        text-align: center;

        >input {
          width: 100%;
          height: 2.5rem;
          padding: 0.1rem;
          padding-inline-start: 3.25rem;
          padding-inline-end: 3.25rem;
          font-size: 1rem;
          background-color: rgb(243, 243, 243);
          border: 1px solid rgb(243, 243, 243);
          border-radius: 50em;
        }
      }
    }
  }

  .headerLinks {
    >div {
      padding: 10px;

      :hover {
        color: rgb(201, 201, 201);
      }
    }
  }
}

/** NAVBAR                         */
/** ****************************** */
/** ****************************** */
.navbar {
  border-bottom: 1px solid #e6e6e6;

  .navigationLinks {
    >a {
      margin-right: 15px;
    }

    >div {
      margin-left: 15px;
    }

    >a,
    div {
      text-decoration: none;

      :hover {
        text-decoration: underline;
      }
    }
  }
}

/** REACT-MODAL WINDOWS            */
/** ****************************** */
/** ****************************** */
/*/// Right Side MODAL */
/* Animation */
@keyframes slideIn {
  from {
    right: -600px;
  }

  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }

  to {
    right: -600px;
  }
}

.modalOpened {
  animation: slideIn 0.25s forwards;
}

.modalClosed {
  animation: slideOut 0.25s forwards;
}

/*/// Main classes of right side MODAL */
.userModal {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background: #fff;
  border: 1px solid rgba(212, 212, 212, 0.604);
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 30px;
  text-align: left;
  overflow-y: auto;
}

.userOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(223, 223, 223, 0.412);
}

/*/// User Login/Register/Profile MODAL */
.userModalContainer {
  .userModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modalTitles,
    .userModalClose {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1.5rem;

      .pickedBody {
        text-decoration: underline;
      }

      .userModalTitle {
        margin: 0 7px 0 0;
      }

      .userModalTitleButton {
        >svg {
          margin-top: 3px;
        }
      }
    }

    .userModalTitleButton:hover {
      cursor: pointer;
      text-decoration: underline;

      >svg {
        color: rgb(201, 201, 201);
      }
    }
  }

  .userModalBody {
    margin-top: 3rem;
  }
}

/** USERMODAL FORM                 */
/** ****************************** */
/** ****************************** */
/* Title */
.userModalFormTitle {
  width: 70%;
}

/* Input */
.userModalFormInput {
  width: 70%;
}

/* Button */
.userModalFormButton {
  margin-top: 1rem;
  width: 40%;
}

/** USERMODAL PROFILE              */
/** ****************************** */
/** ****************************** */
.userModalProfile {
  .membershipTitle {
    border-top: 1px solid rgba(0, 125, 193, 0.782);
    border-bottom: 1px solid rgba(0, 125, 193, 0.782);
    margin-bottom: 2.5rem;
    margin-left: 0;
    padding: 1.5rem;

    >a {
      color: rgba(0, 125, 193, 0.782);

      >span {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }

  >button {
    margin-top: 2rem;
  }
}

/** ADMIN PANEL(menu sections)     */
/** ****************************** */
/** ****************************** */
.menuSectionsContainer {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  .createForm {
    order: 2;
    min-width: 400px;
    background-color: #e4b90e;
    border-radius: 1rem;
    /* margin-top: 2rem; */

    .createFormTitle {
      background-color: black;
      color: white;
      text-align: center;
      font-weight: 600;
      font-size: 1.4rem;
      padding: 10px;
      border-radius: 1rem 1rem 0 0;
    }

    >h3 {
      margin-left: 1.5rem;
    }

    .defaultForm {
      .defaultFormGroup {
        margin: 1rem;

        .defaultFormButton {
          width: 40%;
        }
      }
    }
  }

  .menuSectionsList {
    order: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >h2 {
      margin: 0 0 3rem 0;
    }

    .sectionsListButton {
      text-align: left;
      padding-inline-start: 1.5rem;
      padding-inline-end: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      max-width: 600px;
      height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sectionMainButton {
        display: flex;
        align-items: center;
        flex-grow: 1;

        >div {
          >svg {
            margin-right: 10px;
          }
        }
      }

      .listDeleteIcon {
        display: none;
      }

      .listDeleteIcon:hover {
        color: rgb(201, 201, 201);
        transform: scale(1.15);
      }
    }

    .sectionsListButton:hover {
      .listDeleteIcon {
        display: block;
      }
    }
  }
}

/** SECTION EDIT                   */
/** ****************************** */
/** ****************************** */
.sectionEditContainer {

  .sectionEditHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4b90e;
    border-radius: 1rem;
    padding: 0.7rem 1rem;

    .sectionEditTitle {
      display: flex;
      align-items: center;
      background-color: black;
      padding: 0.2rem 1rem;
      border-radius: 1rem;
      color: white;

      >h2 {
        margin: 0;
      }

      .comeBackButton {
        margin-right: 1rem;
        font-size: 2rem;

        :hover {
          cursor: pointer;
          color: rgb(201, 201, 201);
        }
      }
    }

    .defaultFormButton {
      padding: 0.4rem 1rem;
    }
  }

  .sectionEditZone {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    margin-top: 1rem;

    >div {
      width: 50%;
      border: 1px solid rgb(201, 201, 201);
      border-radius: 1rem;
      padding: 0.5rem;
    }

    .sectionEditMainParametrs {
      order: 2;

      .editMainParametersHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;


        >h3 {
          margin-left: 1.5rem;
        }
      }

      .defaultForm {
        .defaultFormGroup {
          .defaultFormButton {
            max-width: 10rem;
          }
        }
      }
    }

    /** GROUP EDIT                     */
    /** ****************************** */
    /** ****************************** */
    .editSectionIngridientGroupsList {
      order: 1;

      .ingridientGroupsListHeader {

        >h3 {
          margin-left: 1.5rem;
        }

        .addGroupForm {
          display: flex;
          align-items: flex-end;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid rgb(201, 201, 201);

          .defaultFormGroup {

            .defaultFormInput {
              margin-right: 1rem;
            }

            .defaultFormButton {
              padding: 0.5rem 1rem;
            }
          }
        }
      }

      .ingridientGroupsList {
        margin-top: 1.5rem;

        .noGroupsInList {
          margin: 3rem 1.5rem;
          color: rgb(201, 201, 201);

          >h3 {
            text-decoration: underline;
          }
        }

        .groupListItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #e4b90e;
          padding: 0.5rem;
          border-radius: 1rem;
          margin-bottom: 0.5rem;

          .groupListLeft {
            flex-grow: 1;
            margin-right: 2rem;

            .leftForm {
              .defaultForm {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .leftFormInput {
                  width: 100px;
                  flex-grow: 1;
                }

                .defaultFormGroup {
                  margin: 0;

                  .defaultFormButton {
                    display: flex;
                    align-items: center;
                    padding: 0 0.5rem;
                    margin-left: 0.5rem;
                  }
                }
              }
            }

            .leftNameButton {
              display: flex;

              .groupNameButton {
                flex-grow: 1;
                text-align: left;
                border-radius: 1rem;
                padding-left: 1rem;
                margin-right: 0.5rem;
              }
            }
          }

          .groupListRight {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .defaultFormButton {
              padding: 0 0.5rem;
              display: flex;
              align-items: center;
              margin-left: 0.5rem;
            }
          }
        }

        /** INGREDIENTS LIST               */
        /** ****************************** */
        /** ****************************** */
        .groupIngridientsList {
          margin: 1.5rem 0;
          border-top: 1px solid rgb(201, 201, 201);

          >h3 {
            margin: 1.5rem 0 1.5rem 0.5rem;
            color: rgb(201, 201, 201);
            text-decoration: underline;
          }

          .ingredientsListHeader {
            margin: 1.5rem 0.5rem;
          }

          .newIngredient {
            margin-left: 0.5rem;

            .defaultFormButton {
              display: flex;
              align-items: center;
              padding: 0.5rem 1rem;
              border-radius: 0;
              height: 2rem;

              >svg {
                margin-right: 0.5rem;
              }
            }
          }

          .ingredientItem {
            margin-top: 1rem;
            background-color: #e4b90e;

            .ingredientHeader {
              display: flex;
              justify-content: space-between;

              .ingredientHeaderLeft {
                flex-grow: 1;

                .ingredientButton {
                  text-align: left;
                  width: 100%;
                  margin: 0.5rem;
                  padding: 0 1rem;
                  border-radius: 0;
                }
              }

              .ingredientHeaderRight {
                display: flex;
                align-items: center;
                margin: 0 0.5rem;

                .defaultFormButton {
                  border-radius: 0;
                  padding: 0 0.5rem;
                  display: flex;
                  align-items: center;
                  margin-left: 0.5rem;
                }
              }
            }

            .ingredientForm {
              .defaultForm {
                margin: 0;
                padding: 1rem;

                .defaultFormGroup {
                  margin: 0 0 1rem 0;
                }

                .fileFormGroup {
                  margin: 1.8rem 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .addFile {
                    display: flex;
                    flex-direction: column;

                    >label {
                      margin: 0 0 0.5rem 1.5rem;
                      font-size: 1rem;
                      font-weight: 600;
                    }
                  }

                  .filePicture {
                    display: flex;
                    align-items: center;

                    >img {
                      max-height: 4rem;
                      /* max-width: 5rem; */
                      border-radius: 1rem;

                    }

                    .editImage {
                      margin-left: 1rem;
                    }

                    .oldImage {
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/** INGREDIENTS MODAL               */
/** ****************************** */
/** ****************************** */
.addIngredient {

  .addIngredientHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .addIngredientTitle {
      margin-left: 1.5rem;
    }

    .addIngredientCloseModal {
      cursor: pointer;

      :hover {
        color: rgb(201, 201, 201);
      }
    }
  }

  .ingredientForm {
    .defaultForm {
      .defaultFormGroup {
        .defaultFormFileUpload {
          padding-bottom: 2rem;
          border-bottom: 1px solid rgb(201, 201, 201);
        }
      }
    }
  }
}

/** MENU PAGE                      */
/** ****************************** */
/** ****************************** */
/* navbarMenu */
.navbarMenu {
  background-color: #e4b90e;
  padding: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  >a {
    background-color: black;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;

    .navbarMenuLink {
      display: flex;
      color: #e6e6e6;

      >h3 {
        margin: 0 0 0 5px;
      }
    }
  }

  >a:hover {
    background-color: white;
    border: 2px solid black;

    >div {
      color: black;
    }
  }
}

/** @media (max-width: 800px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 800px) {

  /** MENU PAGE                      */
  /** ****************************** */
  /** ****************************** */
  /* Navbar of Menu page */
  .navbarMenu {
    >a {
      padding: 0.5rem 0.7rem;

      .navbarMenuLink {
        >h3 {
          display: none;
        }
      }
    }
  }

  /** MENU SECTIONS                  */
  /** ****************************** */
  /** ****************************** */
  .menuSectionsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .createForm {
      order: 1;
      width: 100%;
      min-width: 300px;

      .defaultForm {
        .defaultFormGroup {
          margin: 1rem;

          .defaultFormButton {
            width: 100%;
          }
        }
      }
    }

    .menuSectionsList {
      order: 2;

      >h2 {
        margin: 1rem 0 2rem 0;
      }

      .sectionsListButton {
        max-width: 100%;
      }
    }
  }

  /** SECTION EDIT                   */
  /** ****************************** */
  /** ****************************** */
  .sectionEditContainer {
    /* .sectionEditHeader {} */

    .sectionEditZone {
      flex-direction: column;

      >div {
        width: 100%;
      }

      .sectionEditMainParametrs {
        order: 1;
      }

      .editSectionIngridientGroupsList {
        order: 2;
      }
    }
  }
}

/** @media (max-width: 600px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
  #search {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  .hideMedia600 {
    display: none;
  }

  /*/// Main classes of right side MODAL */
  .userModal {
    padding: 30px 10px;
  }

  .ingredientFormFile {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;

    .filePicture {
      margin-top: 1rem;
    }
  }

  /** USERMODAL FORM                 */
  /** ****************************** */
  /** ****************************** */
  .userModalForm {
    .userModalFormTitle {
      width: 100% !important;
    }

    .userModalFormGroup {

      /* Input */
      .userModalFormInput {
        width: 100% !important;
      }

      /* Button */
      .userModalFormButton {
        width: 100% !important;
      }
    }
  }

  /** HEADER                         */
  /** ****************************** */
  /** ****************************** */
  .header_logo {
    width: 50px !important;
  }

  /** NAVBAR                         */
  /** ****************************** */
  /** ****************************** */
  .navigationLinks {
    >div :hover {
      color: rgb(201, 201, 201);
    }
  }

  /** ADMIN PANEL                    */
  /** ****************************** */
  /** ****************************** */
}