.createDishContainer {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 1rem;
  padding: 0.5rem;

  .createDishTitle {
    margin-left: 1.5rem;
  }

  .defaultForm {
    margin-top: 2rem;

    .defaultFormGroup {
      margin-top: 1.5rem;
    }

    .defaultFormSelect {
      >option {
        font-size: 18px;
        background-color: #e4b90e;
      }
    }
  }

  .newImageFormGroup {
    margin: 1rem 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    .addFile {
      display: flex;
      flex-direction: column;

      .defaultFormLabel {
        margin: 0 0 0.5rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .newImageDiv {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 1rem;
      border: 1px solid rgb(201, 201, 201);
      border-radius: 1rem;

      .newImage {
        border-radius: 1rem;
      }

      .removeNewImageFromForm {
        position: absolute;
        top: -0.5rem;
        right: -1.5rem;
        cursor: pointer;
        padding: 5px;
        color: black;


        >h4 {
          margin: 0;

          >svg {
            font-size: 1rem;
          }
        }

        :hover {
          color: rgb(201, 201, 201);
        }
      }
    }
  }
}

/** @media (max-width: 800px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/


/** @media (max-width: 600px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
  .createDishContainer {
    .defaultForm {
      .newImageFormGroup {
        height: 100% !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 1rem 0;

        .newImageDiv {
          margin: 1rem 0 0 0;
        }
      }
    }
  }
}