/* DISHES  */
/** MAIN                           */
/** ****************************** */
/** ****************************** */
.dishesContainer {
  .dishesHeader {
    display: flex;
    justify-content: center;

    .dishesLink {
      >h3 {
        margin-right: 1.5rem;

        >svg {
          margin-right: 0.2rem;

        }
      }
    }
  }
}

/** @media (max-width: 800px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/


/** @media (max-width: 600px)      ////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/
/** ///////////////////////////////////////////////////////////////////*/